/* IE-only media query */
* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html, body {
  letter-spacing: .4px;
  background-color: #fff;
  overflow-y: hidden;
}

.fixed-position {
  overflow-x: hidden;
  overflow-y: hidden;
  height: 100%;
}

/* Button */
.btn {
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 1.063rem;
  line-height: 35px;
  padding: 5px 15px;
  display: inline-block;
  cursor: pointer;
  color: #fff;
}

.btn:focus,
button:focus {
  outline: none;
}

#page-container {
  z-index: -1;
}

.colour {
  display: none;
}

.item:hover .greyscale {
  display: none;
}

.item:hover .colour {
  display: inline;
}

#cookie-container {
  display: none;
}

#cookie-container.shown {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 30px;
  overflow-y: auto;
}

.cookie-inner {
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  background-color: #fff;
  transition: transform .3s ease-out;
  color: #666;
  margin: auto;
  transform: translateY(0);
}

@media (min-width: 768px) {
  .cookie-inner {
    width: 600px;
    transform: translateY(20%);
  }
}

.cookie-inner .popup-header {
  padding: 15px 20px;
  min-height: 16.5px;
  border-bottom: 1px solid #e5e5e5;
}

.cookie-inner .popup-header h3 {
  font-size: 1.625rem;
  font-weight: 400;
  color: #333645;
  line-height: 1.42857143;
  margin: 0;
}

.cookie-inner .popup-body {
  padding: 20px;
  line-height: 1.875rem;
  border-bottom: 1px solid #e5e5e5;
}

.cookie-inner .popup-body p:first-of-type {
  margin-top: 0;
  margin-bottom: 25px;
}

.cookie-inner .popup-body p:last-of-type {
  margin: 0;
}

.cookie-inner .popup-buttons {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.cookie-inner .popup-buttons button:first-of-type {
  margin-bottom: 30px;
  background-color: #999aa2;
}

.cookie-inner .popup-buttons button:first-of-type:hover {
  background-color: #84858f;
}

@media (min-width: 768px) {
  .cookie-inner .popup-buttons button:first-of-type {
    width: 50%;
    margin-right: 15px;
    margin-bottom: 0;
  }
}

.cookie-inner .popup-buttons button:last-of-type {
  background-color: #926fb1;
}

.cookie-inner .popup-buttons button:last-of-type:hover {
  background-color: #79539a;
}

@media (min-width: 768px) {
  .cookie-inner .popup-buttons button:last-of-type {
    width: 50%;
    margin-left: 15px;
  }
}

@media (min-width: 768px) {
  .cookie-inner .popup-buttons {
    flex-direction: row;
  }
}

#scroll-container {
  position: relative;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 1;
  background: #fff;
}

#scroll-container.sidebar-shown {
  height: 100vh;
  right: 275px;
}

#main {
  overflow-y: hidden;
  z-index: 10;
}

#sidebar-overlay {
  display: none;
}

#sidebar-overlay.shown {
  display: block;
  background-color: rgba(0, 0, 0, 0.4);
  right: 275px;
  z-index: 10;
  position: fixed;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

#sidebar {
  display: none;
  position: fixed;
  top: 0;
  right: -275px;
  width: 275px;
  height: 100%;
  z-index: 100;
  background-color: #333645;
  overflow: auto;
  transition: .3s ease all;
}

#sidebar.shown {
  right: 0;
  display: block;
}

#header-container, #sticky-header-container {
  padding-left: 15px;
  padding-right: 15px;
  min-height: 110px;
}

@media (min-width: 992px) {
  #header-container input, #sticky-header-container input {
    display: none;
  }
}

@media (min-width: 1260px) {
  #header-container input, #sticky-header-container input {
    display: inline-block;
    width: 240px;
  }
}

.header-top {
  display: flex;
  align-items: center;
  padding-top: 20px;
}

.logo {
  max-width: 100%;
}

@media (min-width: 992px) {
  .logo {
    max-width: 370px;
  }
}

.header-buttons {
  display: flex;
  margin-left: auto;
  align-items: center;
  flex-wrap: nowrap;
}

.call .fa-phone {
  font-size: 1.75em;
  padding-left: 30px;
  padding-right: 30px;
  color: #333645;
}

/*-------- large breakpoint (and up) header buttons -------*/
.button-support, .button-contact {
  display: none;
  height: 56px;
  line-height: 46px;
  font-size: 1.125rem;
  margin-left: 20px;
}

@media (min-width: 992px) {
  .button-support, .button-contact {
    display: block;
  }
}

.button-support {
  background-color: #4183d7;
}

.button-support:hover {
  background-color: #2a7ec6;
}

.button-contact {
  background-color: #999aa2;
}

.button-contact:hover {
  background-color: #84858f;
}

/*----------- medium breakpoint (and up) search bar ------------*/
.md-search {
  margin-left: 20px;
  flex-shrink: 0;
}

.md-search-bar {
  display: inline-block;
  width: 174px;
  border-radius: 0px;
  height: 56px;
  border: 1px solid #e5e5e5;
  margin-right: -5px;
  padding: 5px 15px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08);
  color: #555;
  font-size: 14px;
}

.md-search-bar::placeholder {
  font-size: 14px;
  line-height: 42px;
  color: #555;
}

.md-search-bar::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 42px;
  color: #555;
}

.md-search-bar::-moz-placeholder {
  font-size: 14px;
  line-height: 42px;
  color: #555;
}

.md-search-bar:-ms-input-placeholder {
  font-size: 14px;
  line-height: 42px;
  color: #555;
}

.md-search-bar::-ms-input-placeholder {
  font-size: 14px;
  line-height: 42px;
  color: #555;
}

.md-search-bar:focus {
  border-color: #5bc0de;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08), 0 0 8px rgba(91, 192, 222, 0.6);
}

#md-search-submit, #sticky-md-search-submit {
  margin: 0;
  display: inline-block;
  height: 56px;
  background-color: #999aa2;
  border-radius: 0 3px 3px 0;
  width: 63px;
  font-size: 23px;
  vertical-align: bottom;
  position: relative;
}

#md-search-submit .fa-search, #sticky-md-search-submit .fa-search {
  position: absolute;
  top: 17px;
  left: 22px;
}

#md-search-submit:hover, #sticky-md-search-submit:hover {
  background-color: #7e808a;
}

@media (min-width: 992px) {
  #md-search-submit, #sticky-md-search-submit {
    border-radius: 3px;
  }
}

/*--------------------- burger menu button ---------------------*/
.burger-container {
  background-color: #333645;
  color: #fff;
  border-radius: 3px;
  height: 56px;
  min-width: 63px;
  display: block;
  padding: 0;
  cursor: pointer;
  margin-left: 20px;
}

.burger-container:hover {
  background-color: #22242e;
}

.burger-text {
  display: block;
  position: relative;
  font-size: .75rem;
  line-height: 1;
  margin: 5px 0 0 0;
  text-transform: uppercase;
  top: 0px;
  text-align: center;
}

.hamburger-inner {
  border-radius: 0;
  background-color: #fff;
  width: 33px;
  height: 3px;
  top: 60%;
}

.hamburger-inner:after {
  border-radius: 0;
  background-color: #fff;
  width: 33px;
  height: 3px;
}

.hamburger-inner:before {
  border-radius: 0;
  background-color: #fff;
  width: 33px;
  height: 3px;
}

.hamburger-inner::after {
  bottom: -8px;
}

.hamburger-inner::before {
  top: -8px;
}

.hamburger-box {
  width: 33px;
  height: 22px;
}

.hamburger:hover {
  opacity: 1;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #fff;
}

.hamburger.is-active:hover {
  opacity: 1;
}

/*---------------------- small search box ----------------------*/
.s-search-box {
  margin-left: auto;
  margin-right: auto;
  margin-top: 7px;
  padding-bottom: 20px;
}

.s-search-box form {
  display: flex;
  position: relative;
  font-size: .9em;
}

.s-search-box form input {
  background-color: rgba(0, 0, 0, 0.1);
  border: 2px solid rgba(0, 0, 0, 0.1);
  width: 100%;
  padding-right: 50px;
  padding-left: 15px;
  height: 47px;
  color: #555;
}

.s-search-box form input:focus {
  box-shadow: 0 0 3px #fff;
  outline: none;
}

.search-submit {
  color: #333645;
  background: none;
  position: absolute;
  font-size: 20px;
  height: 47px;
  padding: 0 0;
  width: 47px;
  right: 2px;
}

.search-submit .fa-search {
  position: absolute;
  top: 15px;
  right: 13px;
}

/* --------- Sticky -------- */
@media (min-width: 576px) {
  #sticky.hide {
    top: -168px;
  }
}

@media (min-width: 768px) {
  #sticky.hide {
    top: -110px;
  }
}

@media (min-width: 992px) {
  #sticky.hide {
    top: -208px;
  }
}

#sticky {
  height: 150px;
  background-color: #fff;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 9;
  box-shadow: 0 5px 35px rgba(0, 0, 0, 0.1);
}

@media (min-width: 576px) {
  #sticky {
    height: 168px;
  }
}

@media (min-width: 768px) {
  #sticky {
    height: 110px;
  }
}

@media (min-width: 992px) {
  #sticky {
    height: 208px;
  }
}

#sticky-top {
  height: 150px;
  background-color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9;
  box-shadow: 0 5px 35px rgba(0, 0, 0, 0.1);
}

@media (min-width: 576px) {
  #sticky-top {
    height: 168px;
  }
}

@media (min-width: 768px) {
  #sticky-top {
    height: 110px;
  }
}

@media (min-width: 992px) {
  #sticky-top {
    height: 208px;
  }
}

#nav-container, #sticky-nav-container {
  background-color: #333645;
  display: none;
  height: 98px;
}

@media (min-width: 992px) {
  #nav-container, #sticky-nav-container {
    display: block;
  }
}

.nav-inner {
  width: 992px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.nav-inner > ul {
  position: relative;
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.25);
}

.nav-flex > li {
  flex: 1;
  text-align: center;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  border-left: 1px solid rgba(0, 0, 0, 0.25);
}

.nav-flex > li > a {
  position: relative;
  display: block;
  color: #fff;
  padding: 19px 0 18px;
  text-transform: uppercase;
  font-size: 1.125rem;
  line-height: 1;
}

.nav-flex > li > a i {
  font-size: 1.2rem;
  display: block;
  padding-bottom: 12px;
}

.nav-flex > li > a small {
  display: block;
  font-size: .625rem;
  padding-bottom: 2px;
}

@media (min-width: 1260px) {
  .nav-flex > li a {
    font-size: 1rem;
  }
}

.web i {
  color: #926fb1;
}

.web:hover {
  background-color: #926fb1;
}

.web:hover i {
  color: #fff;
}

.web .web-menu {
  background-color: #79539a;
}

.web .web-menu::before, .web .web-menu::after {
  background-color: #79539a;
}

.web:hover .web-menu {
  display: block;
}

.it i {
  color: #4183d7;
}

.it:hover {
  background-color: #4183d7;
}

.it:hover i {
  color: #fff;
}

.it:hover .it-menu {
  display: block;
}

.telecoms i {
  color: #d64541;
}

.telecoms:hover {
  background-color: #d64541;
}

.telecoms:hover i {
  color: #fff;
}

.telecoms .telecoms-menu {
  background-color: #bc2c28;
}

.telecoms .telecoms-menu::before, .telecoms .telecoms-menu::after {
  background-color: #bc2c28;
}

.telecoms:hover .telecoms-menu {
  display: block;
}

.software i {
  color: #67809f;
}

.software:hover {
  background-color: #67809f;
}

.software:hover i {
  color: #fff;
}

.software .software-menu {
  background-color: #526781;
}

.software .software-menu::before, .software .software-menu::after {
  background-color: #526781;
}

.software:hover .software-menu {
  display: block;
}

.digital i {
  color: #2ecc71;
}

.digital:hover {
  background-color: #2ecc71;
}

.digital:hover i {
  color: #fff;
}

.digital .digital-menu {
  background-color: #25a25a;
}

.digital .digital-menu::before, .digital .digital-menu::after {
  background-color: #25a25a;
}

.digital:hover .digital-menu {
  display: block;
}

.security i {
  color: #f62459;
}

.security:hover {
  background-color: #f62459;
}

.security:hover i {
  color: #fff;
}

.security .security-menu {
  background-color: #de093f;
}

.security .security-menu::before, .security .security-menu::after {
  background-color: #de093f;
}

.security:hover .security-menu {
  display: block;
}

.nav-sub {
  padding: 0 15px;
  display: none;
  position: absolute;
  top: 100%;
  left: -15px;
  right: -15px;
  z-index: 10;
  list-style: none;
}

.nav-sub li {
  float: left;
  font-size: .8125rem;
  text-transform: uppercase;
  line-height: 2.813rem;
}

.nav-sub li a {
  line-height: 2.813rem;
}

.nav-sub li:not(:first-child) {
  padding-left: 20px;
}

@media (min-width: 1260px) {
  .nav-sub li:not(:first-child) {
    padding-left: 30px;
  }
}

.nav-sub li:not(:nth-last-child(2))::after {
  content: "-";
  padding-left: 20px;
  color: #fff;
}

@media (min-width: 1260px) {
  .nav-sub li:not(:nth-last-child(2))::after {
    padding-left: 30px;
  }
}

.sub-bg {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 2000px;
  z-index: -1;
}

.sub-bg#web-sub-bg {
  background-color: #79539a;
}

.sub-bg#it-sub-bg {
  background-color: #286abd;
}

.sub-bg#telecoms-sub-bg {
  background-color: #bc2c28;
}

.sub-bg#software-sub-bg {
  background-color: #526781;
}

.sub-bg#marketing-sub-bg {
  background-color: #25a25a;
}

.sub-bg#security-sub-bg {
  background-color: #de093f;
}

.hero-slider-container {
  background-color: #000;
  border-top: 1px solid rgba(255, 255, 255, 0.65);
  margin-top: 150px;
}

@media (min-width: 576px) {
  .hero-slider-container {
    margin-top: 168px;
  }
}

@media (min-width: 768px) {
  .hero-slider-container {
    margin-top: 110px;
  }
}

@media (min-width: 992px) {
  .hero-slider-container {
    margin-top: 208px;
    text-align: left;
    height: calc(100vh - 208px);
  }
}

@media (min-width: 768px) {
  .hero-slider {
    height: calc(100vh - 110px);
  }
}

.hero-image {
  height: calc(100vh - 153px);
}

@media (min-width: 768px) {
  .hero-image {
    height: calc(100vh - 110px);
  }
}

@media (min-width: 992px) {
  .hero-image {
    height: calc(100vh - 208px);
  }
}

.hero-image img {
  width: 100%;
  height: calc(100vh - 153px);
  object-fit: cover;
  opacity: .5;
}

@media (min-width: 768px) {
  .hero-image img {
    height: calc(100vh - 110px);
  }
}

@media (min-width: 992px) {
  .hero-image img {
    opacity: 1;
    height: calc(100vh - 208px);
  }
}

.hero-content-container {
  background: linear-gradient(270deg, transparent 25%, #000);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: calc(100vh - 153px);
  text-align: center;
  word-wrap: break-word;
}

@media (min-width: 768px) {
  .hero-content-container {
    height: calc(100vh - 110px);
  }
}

@media (min-width: 992px) {
  .hero-content-container {
    height: calc(100vh - 209px);
    text-align: left;
  }
}

.hero-content {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.hero-content h1 {
  color: #fff;
}

.hero-content p {
  font-size: 1.25rem;
  line-height: 2.25rem;
  margin-bottom: 35px;
  color: #fff;
}

.hero-content h1 {
  font-size: 3rem;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.hero-button {
  padding: 5px 20px;
  line-height: 50px;
  font-size: 1.25rem;
  font-weight: 400;
  color: #fff;
  display: inline-block;
}

.hero-button.hero-web-button {
  background-color: #926fb1;
}

.hero-button.hero-web-button:hover {
  background-color: #79539a;
}

.hero-button.hero-it-button {
  background-color: #4183d7;
}

.hero-button.hero-it-button:hover {
  background-color: #286abd;
}

.hero-button.hero-telecoms-button {
  background-color: #d64541;
}

.hero-button.hero-telecoms-button:hover {
  background-color: #bc2c28;
}

.hero-button.hero-bespoke-button {
  background-color: #67809f;
}

.hero-button.hero-bespoke-button:hover {
  background-color: #526781;
}

.hero-button.hero-marketing-button {
  background-color: #2ecc71;
}

.hero-button.hero-marketing-button:hover {
  background-color: #25a25a;
}

.hero-button.hero-security-button {
  background-color: #f62459;
}

.hero-button.hero-security-button:hover {
  background-color: #de093f;
}

.btn > .fa-arrow-right {
  margin-left: 8px;
}

.owl-carousel {
  position: relative;
}

.owl-dots {
  position: absolute;
  bottom: 44px;
  margin-top: 10px;
  left: 0;
  right: 0;
}

.owl-theme .owl-dots .owl-dot span {
  background-color: rgba(255, 255, 255, 0.5);
  width: 11px;
  height: 11px;
  margin: 0 10px;
}

.owl-theme .owl-dots .owl-dot span:hover {
  background: #869791;
}

.owl-theme .owl-dots .owl-dot.active span {
  background-color: #fff;
  position: relative;
}

.owl-theme .owl-dots .owl-dot.active span::after {
  content: "";
  position: absolute;
  top: -6px;
  left: -6px;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  border: 2px solid #fff;
  box-sizing: border-box;
}

#service-list {
  display: flex;
  text-align: center;
  padding: 50px 15px;
  background-color: #fff;
}

.service-cards {
  /*---------------------- positions cards -----------------------*/
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  /*------------ selects card content and stacks it -------------*/
  /*--------------------------------------------------------------*/
}

.service-cards > * {
  min-height: 312px;
  margin-top: 30px;
  border-radius: 3px;
  flex: 1 100%;
  border: 1px solid #ddd;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 35px 0px;
  position: relative;
}

.service-cards > * > * {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  padding: 30px;
  height: 100%;
}

.service-cards div.btn {
  text-transform: uppercase;
  margin-top: auto;
  align-self: center;
}

/*-------------------- styles card content ---------------------*/
.service {
  color: #333645;
}

.service h2 {
  font-size: 1.125rem;
  padding-bottom: 17px;
  margin: 0 0 11px;
  font-weight: 400;
  position: relative;
}

.service h2::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 28px;
  height: 3px;
  display: block;
  background-color: #333645;
}

.service p {
  font-size: .8125rem;
  line-height: 1.375rem;
  margin-top: 0;
  margin-bottom: 13px;
  font-weight: 400;
}

.service .icon {
  height: 60px;
  width: 60px;
  margin: 0 auto 17px;
  border-radius: 50%;
  line-height: 63px;
  position: relative;
  font-size: 1.2rem;
  color: #fff;
}

/*--------------------- card hover styles ----------------------*/
.service:hover {
  color: #fff;
  border-color: transparent;
}

.service:hover .btn, .service:hover .icon, .service:hover h2:after {
  background-color: #fff;
}

.bespoke-software {
  margin-top: 0;
}

.bespoke-software .icon, .bespoke-software .btn, .bespoke-software:hover {
  background-color: #67809f;
}

.bespoke-software:hover .btn, .bespoke-software:hover .icon {
  color: #67809f;
}

.it-support .icon, .it-support .btn, .it-support:hover {
  background-color: #4183d7;
}

.it-support:hover .btn, .it-support:hover .icon {
  color: #4183d7;
}

.digital-marketing .icon, .digital-marketing .btn, .digital-marketing:hover {
  background-color: #2ecc71;
}

.digital-marketing:hover .btn, .digital-marketing:hover .icon {
  color: #2ecc71;
}

.telecoms-services .icon, .telecoms-services .btn, .telecoms-services:hover {
  background-color: #d64541;
}

.telecoms-services:hover .btn, .telecoms-services:hover .icon {
  color: #d64541;
}

.web-design .icon, .web-design .btn, .web-design:hover {
  background-color: #926fb1;
}

.web-design:hover .btn, .web-design:hover .icon {
  color: #926fb1;
}

.cyber-security .icon, .cyber-security .btn, .cyber-security:hover {
  background-color: #f62459;
}

.cyber-security:hover .btn, .cyber-security:hover .icon {
  color: #f62459;
}

.developer-training .icon, .developer-training .btn, .developer-training:hover {
  background-color: #926fb1;
}

.developer-training:hover .btn, .developer-training:hover .icon {
  color: #926fb1;
}

#about-container {
  color: #fff;
  background-color: #333645;
  padding-top: 50px;
  padding-bottom: 50px;
}

.about {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.about p {
  margin-bottom: 25px;
  line-height: 1.875rem;
}

.about h1 {
  font-size: 2.25rem;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 28px;
}

.about-button {
  color: #333645;
  background-color: #fff;
  padding-left: 12px;
  padding-right: 12px;
}

.about-button:hover {
  background-color: #ebebeb;
}

.latest-top-container {
  box-shadow: 0 5px 35px rgba(0, 0, 0, 0.5);
  background-color: #fff;
}

.latest-top {
  font-size: 1.25rem;
  font-weight: 600;
  letter-spacing: .4px;
  text-transform: uppercase;
  color: #333645;
  padding: 40px 15px;
}

.latest {
  position: relative;
  margin: 40px auto;
}

.latest::after {
  content: "";
  position: absolute;
  background-color: #333645;
  height: 5px;
  top: 61px;
  bottom: 0px;
  left: 0;
  right: 0;
}

.latest-cards-container {
  padding-top: 50px;
  padding-bottom: 50px;
}

.latest-cards {
  display: flex;
  flex-wrap: wrap;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.img-container {
  position: relative;
  overflow: hidden;
}

.latest-category {
  position: absolute;
  color: #fff;
  font-size: .75rem;
  padding: 0 10px;
  line-height: 1.5rem;
  text-transform: uppercase;
  right: 0;
  top: 10px;
  z-index: 1;
  text-decoration: none;
  font-weight: 600;
}

.latest-category:hover {
  text-decoration: underline;
}

.latest-img img {
  display: block;
  position: relative;
  border-radius: 3px 3px 0 0;
  width: 100%;
  transition: all 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.latest-content {
  border-width: 0 1px 1px 1px;
  border-color: #ccc;
  border-style: solid;
  padding: 30px;
}

.latest-content h3 {
  font-size: 1rem;
  line-height: 1.5rem;
  margin: 0 0 15px;
}

.latest-content h3:hover {
  text-decoration: underline;
}

.latest-content p {
  color: #666;
  line-height: 1.375rem;
  font-size: .8125rem;
  margin-top: 0;
  margin-bottom: 25px;
}

.latest-button {
  color: #fff;
  height: auto;
}

.latest-user {
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid #ccc;
  display: table;
  width: 100%;
  font-size: .875rem;
}

.latest-user > * {
  display: table-cell;
  vertical-align: middle;
}

.latest-avatar {
  width: 47px;
}

.latest-avatar img {
  border-radius: 50%;
  max-width: 47px;
}

.latest-details {
  padding-left: 20px;
  line-height: 1.375rem;
  color: #666;
}

.latest-details strong {
  color: #333645;
  font-weight: 600;
}

.latest-card-1 .latest-category,
.latest-card-1 .latest-button {
  background-color: #4183d7;
}

.latest-card-1 .latest-button:hover {
  background-color: #286abd;
}

.latest-card-1 h3 {
  color: #4183d7;
}

.latest-card-2 .latest-category,
.latest-card-2 .latest-button {
  background-color: #926fb1;
}

.latest-card-2 .latest-button:hover {
  background-color: #79539a;
}

.latest-card-2 h3 {
  color: #926fb1;
}

.latest-card-3 .latest-category,
.latest-card-3 .latest-button {
  background-color: #d64541;
}

.latest-card-3 .latest-button:hover {
  background-color: #bc2c28;
}

.latest-card-3 h3 {
  color: #d64541;
}

#logo-section {
  display: none;
  background-color: #fff;
  padding-top: 50px;
  padding-bottom: 50px;
  box-shadow: inset 0 5px 35px -15px rgba(0, 0, 0, 0.1);
}

.logos-container {
  display: flex;
  width: 768px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  justify-content: space-between;
}

.logo-item {
  vertical-align: middle;
  padding: 0 20px;
  position: relative;
}

.logo-item:hover .logo-description {
  display: block;
}

.logo-item img {
  width: 100%;
}

.logo-description {
  display: none;
  position: absolute;
  bottom: 100%;
  left: -200px;
  right: -200px;
  text-align: center;
}

.logo-description .box {
  background-color: #333645;
  color: #fff;
  padding: 20px;
  font-size: .875rem;
  max-width: 260px;
  margin: 0 auto 50px;
}

.logo-description .arrow {
  position: absolute;
  bottom: 15px;
  left: 50%;
  margin-left: -36px;
}

.logo-description .arrow::after {
  content: "";
  margin: auto;
  display: inline-block;
  border-color: #333645 transparent;
  border-style: solid;
  border-width: 35px 36px 0;
}

.box h3 {
  position: relative;
  font-size: 1.125rem;
  padding-bottom: 17px;
  margin: 0 0 11px;
  font-weight: 400;
}

.box h3::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 28px;
  height: 3px;
  display: block;
  background-color: #fff;
}

.box p {
  font-size: .8125rem;
  line-height: 1.375rem;
}

#newsletter-container {
  background-color: #ddd;
}

.newsletter-inner {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.sign-up {
  padding: 50px 30px;
}

.sign-up h2 {
  font-size: 2rem;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 15px;
}

.sign-up-input-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.sign-up-input {
  flex: 1 1 450px;
}

.form-group {
  margin-bottom: 15px;
}

.newsletter label {
  display: inline-block;
  color: #333645;
  font-weight: 600;
  margin-bottom: 5px;
}

.newsletter label::after {
  content: "*";
  color: #d24d57;
}

.sign-up-field {
  height: 47px;
  width: 100%;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08);
  border-color: #ccc;
  padding: 5px 15px;
}

.sign-up-field:focus {
  border-color: #5bc0de;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08), 0 0 8px rgba(91, 192, 222, 0.6);
}

/*------------------------- Checkbox --------------------------*/
.marketing-check-content {
  display: table;
}

.checkbox-container {
  display: block;
  position: relative;
  cursor: pointer;
}

.checkbox-container input {
  display: none;
}

.checkbox-container input:checked ~ .checkmark {
  background-color: #333645;
}

.checkmark {
  position: absolute;
  height: 32px;
  width: 32px;
  background-color: #ddd;
  border-radius: 3px;
  border: 3px solid #333645;
}

.checkmark .check {
  display: none;
}

.checkbox-container input:checked ~ .checkmark .check {
  display: block;
}

.checkmark .check {
  position: absolute;
  top: 1px;
  left: 1px;
  color: #fff;
}

.checkbox-text {
  display: block;
  margin-top: 7px;
  margin-left: 50px;
  line-height: 32px;
  cursor: pointer;
  font-weight: 600;
  color: #333645;
  margin-bottom: 15px;
}

.checkbox-text a {
  color: #333645;
  text-decoration: underline;
}

.checkbox-text a:visited {
  color: #333645;
}

/* Button */
.btn-newsletter {
  background-color: #333645;
}

.btn-newsletter:hover {
  background-color: #22242e;
}

footer {
  background-color: #333645;
  color: #fff;
  overflow: hidden;
}

.footer-inner {
  padding: 47px 15px 43px;
  font-size: .8125rem;
  line-height: 1.375rem;
}

.footer-inner h4 {
  margin-top: 0;
  font-size: 1rem;
  font-weight: 400;
  text-transform: uppercase;
}

.footer-inner a:hover {
  text-decoration: underline;
}

.footer-column-1 {
  margin-bottom: 30px;
}

.footer-column-2 {
  padding-bottom: 30px;
}

.footer-column-2 ul {
  margin: 0;
}

.footer-column-2 ul li:nth-child(4) {
  padding-bottom: 50px;
}

.footer-column-3 {
  padding-bottom: 30px;
}

.footer-column-3 ul {
  margin: 0;
}

.footer-column-3 ul li:nth-child(4) {
  padding-bottom: 25px;
}

.footer-column-4 h4 {
  margin-bottom: 0px;
}

.social-buttons {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 10px;
}

.social-buttons .social {
  flex: 1 40%;
  margin-top: 30px;
  font-size: 1.75rem;
  line-height: 3.5rem;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.25);
}

.social-buttons .social:nth-child(odd) {
  margin-right: 30px;
}

.social-buttons a {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.facebook-button:hover {
  background-color: #3b5998;
}

.twitter-button:hover {
  background-color: #00aced;
}

.instagram-button:hover {
  background-color: #d93175;
}

.linkedin-button:hover {
  background-color: #0077b5;
}

.accred-container {
  display: none;
  padding: 50px 0;
}

.accred-inner {
  width: 768px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.accred-row-1,
.accred-row-2 {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.accred-row-1 img,
.accred-row-2 img {
  height: auto;
  width: 100%;
}

.accred-row-1 .accred-item:first-child img {
  width: 210px;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.1);
}

.accred-row-2 {
  margin-top: 30px;
}

.accred-item {
  flex-grow: 1;
  padding: 0 20px;
}

.accred-row-2 .accred-item {
  opacity: .5;
}

.accred-item:not(.google-partner):hover {
  opacity: 1;
}

/* =======================================================
---------------- small breakpoint styles ----------------
========================================================== */
@media screen and (max-width: 767px) {
  .md-search {
    display: none;
  }
  .latest-cards > * + * {
    margin-top: 30px;
  }
}

/* ------- IE specific fixes for small size -------*/
@media screen and (max-width: 767px) and (-ms-high-contrast: none) {
  .logo-container {
    flex: 1 1 10%;
  }
}

/* =======================================================
---------------- medium breakpoint styles ----------------
========================================================== */
@media screen and (min-width: 768px) {
  .width-margin {
    width: 768px;
    margin-left: auto;
    margin-right: auto;
  }
  .logo {
    max-width: 345px;
  }
  .s-search-box,
  .phone-container {
    display: none;
  }
  .service-cards > .telecoms-services,
  .service-cards .web-design,
  .service-cards .cyber-security,
  .service-cards .developer-training {
    flex: 1 45%;
  }
  .service-cards div:nth-child(2n+5) {
    margin-left: 30px;
  }
  .latest-cards {
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    margin-top: auto;
  }
  .latest-card-1 {
    margin-top: auto;
    align-self: stretch;
  }
  .latest-card-2 {
    align-self: stretch;
    margin-top: auto;
    margin-left: 30px;
  }
  .latest-card-3 {
    display: none;
  }
  .latest-content h3 {
    min-height: 3rem;
  }
  #logo-section {
    display: block;
  }
  .footer-flex {
    display: flex;
    flex-wrap: wrap;
  }
  .footer-flex * {
    flex: 1 50%;
  }
  .social-buttons {
    margin-right: 30px;
  }
  .accred-container {
    display: block;
  }
}

/* =======================================================
---------------- large breakpoint styles ----------------
========================================================== */
@media screen and (min-width: 992px) {
  .width-margin,
  .hero-content {
    width: 992px;
    margin-left: auto;
    margin-right: auto;
  }
  .service-cards {
    align-items: stretch;
  }
  .service-cards > .bespoke-software,
  .service-cards .it-support,
  .service-cards .digital-marketing {
    flex: 1 1 30%;
  }
  .service-cards > .bespoke-software:not(:first-child),
  .service-cards .it-support:not(:first-child),
  .service-cards .digital-marketing:not(:first-child) {
    margin-left: 30px;
  }
  .bespoke-software {
    margin-top: 30px;
  }
  #service-list {
    padding-top: 20px;
  }
  #about-container {
    background-image: url("../img/branded.png");
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: auto 100%;
  }
  /*--- Sets the hover state for images in the latest section */
  .img-container:hover img {
    transform: scale(1.1);
    opacity: .75;
  }
  .sign-up-input {
    flex: 1 1;
  }
  .sign-up-input:last-child {
    padding-left: 30px;
  }
  .footer-flex {
    width: 992px;
  }
}

/* =======================================================
-------------- extra large breakpoint styles -------------
========================================================== */
@media screen and (min-width: 1260px) {
  .width-margin {
    width: 1260px;
    margin-left: auto;
    margin-right: auto;
  }
  #md-search-submit {
    border-radius: 0 3px 3px 0;
  }
  .nav-inner .nav-submenu a {
    font-size: 1rem;
  }
  .nav-submenu li:not(:last-child)::after {
    padding-left: 30px;
  }
  .nav-submenu li:not(:first-child) {
    padding-left: 30px;
  }
  .service-cards > *:nth-child(n+4) {
    flex-basis: 20%;
  }
  .service-cards > *:nth-child(n+4):not(.telecoms-services) {
    margin-left: 30px;
  }
  .about-inner {
    width: 50%;
  }
  .latest-card-3 {
    display: block;
    margin-left: 30px;
  }
  .footer-flex * {
    flex: 25%;
  }
  .accred-row-1 img,
  .accred-row-2 img {
    width: auto;
  }
}
/*# sourceMappingURL=styles.css.map */