/* Basic Styles */

* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    letter-spacing: .4px;
    overflow-x: hidden;
}

/* Button */

.btn {
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 1.063rem;
    line-height: 35px;
    padding: 5px 15px;
}

/*------------------ Latest ------------------*/



/*--------------- Newsletter Signup ---------------*/



/*------------ footer ------------*/




/* Medium breakpoint element styles*/


.md-search {
    margin-left: 20px;
    flex-shrink: 0;
}

.md-search-bar {
    display: inline-block;
    width: 174px;
    border-radius: 0px;
    height: 56px;
    border: 1px solid #e5e5e5;
    margin-right: -5px;
    padding: 5px 15px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .08);
    &::placeholder {
        font-size: 14px;
        line-height: 1.4;
        color: #555;
    }
    &:focus {
        border-color: #5bc0de;
        outline: 0;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .08), 0 0 8px rgba(91, 192, 222, .6);
    }
}

#md-search-submit {
    margin: 0;
    display: inline-block;
    height: 56px;
    background-color: #999aa2;
    border-radius: 0 3px 3px 0;
    width: 63px;
    font-size: 23px;
    vertical-align: bottom;
    position: relative;
    .fa-search {
        position: absolute;
        top: 17px;
        left: 22px;
    }
    &:hover {
        background-color: #7e808a;
    }
}

/* ------------ logo section --------------*/

#logo-section {
    display: none;
    background-color: $white;
    padding-top: 50px;
    padding-bottom: 50px;
    box-shadow: inset 0 5px 35px -15px rgba(0, 0, 0, .1);
}

.logos-container {
    display: flex;
    width: 750px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.logo-item {
    flex-grow: 1;
    vertical-align: middle;
    padding: 0 20px;
    position: relative;
    &:hover {
        img {
            filter: none;
        }
        .logo-description {
            display: block;
        }
    }
    img {
        filter: grayscale(1);
        max-width: 100%;
        height: auto;
    }
}

.logo-description {
    display: none;
    position: absolute;
    bottom: 100%;
    left: -200px;
    right: -200px;
    text-align: center;
    .box {
        background-color: $primary-colour;
        color: #fff;
        padding: 20px;
        font-size: .875rem;
        max-width: 260px;
        margin: 0 auto 50px;
    }
    .arrow {
        position: absolute;
        bottom: 15px;
        left: 50%;
        margin-left: -36px;
        &::after {
            content: "";
            margin: auto;
            display: inline-block;
            border-color: $primary-colour transparent;
            border-style: solid;
            border-width: 35px 36px 0;
        }
    }
}

.box {
    h3 {
        position: relative;
        font-size: 1.125rem;
        padding-bottom: 17px;
        margin: 0 0 11px;
        font-weight: 400;
        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            width: 28px;
            height: 3px;
            display: block;
            background-color: $white;
        }
    }
    p {
        font-size: .8125rem;
        line-height: 1.375rem;
    }
}

/*--------------- accreditations ---------------*/

.accred-container {
    display: none;
    padding: 50px 0;
}

.accred-inner {
    width: 750px;
    @include padding;
}

.accred-row-1,
.accred-row-2 {
    display: flex;
    flex-direction: row;
    text-align: center;
    img {
        height: auto;
        width: 100%;
        vertical-align: middle;
    }
}

.accred-row-1 .accred-item:first-child img {
    width: 210px;
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.1);
}

.accred-row-2 {
    margin-top: 30px;
}

.accred-item {
    flex-grow: 1;
    padding: 0 20px;
}

.accred-row-2 .accred-item{
    opacity: .5;
}

.accred-item {
    &:not(.google-partner) {
        filter: grayscale(1);
        &:hover {
            filter: grayscale(0);
            opacity: 1;
        }
    }
}

/*--------------- large mq styles ---------------*/

.button {
    &-support,
    &-contact {
        display: none;
        height: 56px;
        line-height: 46px;
        font-size: 1.125rem;
        margin-left: 20px;
    }
    &-support {
        background-color: $blue;
        &:hover {
            background-color: #2a7ec6;
        }
    }
    &-contact {
        background-color: $button-grey;
        &:hover {
            background-color: #84858f;
        }
    }
}

/*--------------- nav bar ---------------*/

#nav-container {
    background-color: $primary-colour;
    display: none;
}

.nav-inner {
    width: 970px;
    margin-left: auto;
    margin-right: auto;
    @include padding;
    > ul {
        position: relative;
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        flex-direction: row;
        border-left: 1px solid hsla(0, 0%, 100%, .1);
        border-right: 1px solid rgba(0, 0, 0, .25);
    }
}


.nav-flex > li {
    flex: 1;
    text-align: center;
    border-right: 1px solid hsla(0, 0%, 100%, .1);
    border-left: 1px solid rgba(0, 0, 0, .25);
    > a {
        position: relative;
        display: block;
        color: $white;
        padding: 19px 0 18px;
        text-transform: uppercase;
        font-size: 1.125rem;
        line-height: 1;
        i {
            font-size: 1.2rem;
            display: block;
            padding-bottom: 12px;
        }
        small {
            display: block;
            font-size: .625rem;
            padding-bottom: 2px;
        }
    }
}

.web {
    i {
        color: $purple;
    }
    &:hover {
        background-color: $purple;
        i {
            color: $white;
        }
    }
    .web-menu {
        background-color: $purple-2;
        &::before, &::after {
            background-color: $purple-2;
        }
    }
    &:hover web-menu {
        display: block;
    }
}

.it {
    i {
        color: $blue;
    }
    &:hover {
        background-color: $blue;
        i {
            color: $white;
        }
    }
    .it-menu {
        background-color: $blue-2;
        &::before, &::after {
            background-color: $blue-2;
        }
    }
    &:hover .it-menu {
        display: block;
    }
}

.telecoms {
    i {
        color: $red;
    }
    &:hover {
        background-color: $red;
        i {
            color: $white;
        }
    }
    .telecoms-menu {
        background-color: $red-2;
        &::before, &::after {
            background-color: $red-2;
        }
    }
    &:hover .telecoms-menu {
        display: block;
    }
}

.software {
    i {
        color: $dark-blue;
    }
    &:hover {
        background-color: $dark-blue;
        i {
            color: $white;
        }
    }
    .software-menu {
        background-color: $dark-blue-2;
        &::before, &::after {
            background-color: $dark-blue-2;
        }
    }
    &:hover .software-menu {
        display: block;
    }
}

.digital {
    i {
        color: $green;
    }
    &:hover {
        background-color: $green;
        i {
            color: $white;
        }
    }
    .digital-menu {
        background-color: $green-2;
        &::before, &::after {
            background-color: $green-2;
        }
    }
    &:hover .digital-menu {
        display: block;
    }
}

.security {
    i {
        color: $pink;
    }
    &:hover {
        background-color: $pink;
        i {
            color: $white;
        }
    }
    .security-menu {
        background-color: $pink-2;
        &::before, &::after {
            background-color: $pink-2;
        }
    }
    &:hover .security-menu {
        display: block;
    }
}

.nav-submenu {
    padding: 0 15px;
    display: none;
    position: absolute;
    top: 100%;
    left: -20px;
    right: -20px;
    z-index: 10;
    list-style: none;
    li {
        float: left;
        font-size: .8125rem;
        text-transform: uppercase;
        line-height: 2.813rem;
        &:not(:first-child) {
            padding-left: 20px;
        }
        &:not(:last-child)::after {
            content: "-";
            padding-left: 20px;
            color: $white;
        }
    }
    &::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 100%;
        width: 2000px;
        background-color: $purple-2;
    }
    &::after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 100%;
        width: 2000px;
        background-color: $purple-2;
    }
}


.web:hover ul {
    display: block;
}