*{
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html, body {
    letter-spacing: .4px;
    overflow-x: hidden;
}

/* Button */

.btn {
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 1.063rem;
    line-height: 35px;
    padding: 5px 15px;
    display: inline-block;
    cursor: pointer;
    color: $white;
}

.btn:focus,
button:focus {
    outline: none;
}




.colour {
    display: none;
}

.item:hover {
    .greyscale {
        display: none;
    }
    .colour {
        display: inline;
    }
}


