/* =======================================================
---------------- small breakpoint styles ----------------
========================================================== */


@media screen and (max-width: 767px) {
    .md-search {
        display: none;
    }
    .latest-cards {
        > * + * {
            margin-top: 30px;
        }
    }

}



/* =======================================================
---------------- medium breakpoint styles ----------------
========================================================== */


@media screen and (min-width: 768px) {

    .width-margin {
        @include container-md;
    }

    .s-search-box,
    .phone-container {
        display: none;
    }

    .logo-container {
        max-width: 50%;
    }

    .service-cards {
        > .telecoms-services,
        .web-design,
        .cyber-security,
        .developer-training {
            flex: 1 45%;
        }
        & div:nth-child(2n+5) {
            margin-left: 30px;
        }
    }   

    .latest-cards {
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: flex-start;
        margin-top: auto;
    }

    .latest-card {
        &-1 {
            margin-top: auto;
            align-self: stretch;
        }
        &-2 {
            align-self: stretch;

            margin-top: auto;
            margin-left: 30px;
        }
        &-3 {
            display: none;
        } 
    }

    .latest-content {
        h3 {
            min-height: 3rem;
        }
    }

    #logo-section {
        display: block;
    }

    .footer-flex {
        display: flex;
        flex-wrap: wrap;
        * {
            flex: 1 50%;
        }
    }

    .social-buttons {
        margin-right: 30px;
    }

    .accred-container {
        display: block;
    }
}


/* =======================================================
---------------- large breakpoint styles ----------------
========================================================== */


@media screen and (min-width: 992px) {

    .width-margin,
    .hero-content {
        @include container-lg;
    }

    #header-container {
        input {
            display: none;
        }
    }

    #md-search-submit {
        border-radius: 3px;
    }

    .button-support,
    .button-contact,
    #nav-container {
        display: block;
    }

    .hero-slider {
        text-align: left;
    }

    .hero-image {
        height: 490px;
        img {
            opacity: 1;
        }
    }

    .hero-image img {
        height: 490px;
    }

    .service-cards {
        align-items: stretch;
        > .bespoke-software,
        .it-support,
        .digital-marketing {
            flex: 1 1 30%;
            &:not(:first-child) {
                margin-left: 30px;
            }
        }
    }

    .bespoke-software {
        margin-top: 30px;
    }

    #service-list {
        padding-top: 20px;
    }

    #about-container {
        background-image: url("../img/branded.png");
        background-repeat: no-repeat;
        background-position: 100%;
        background-size: auto 100%;
    }

    /*--- Sets the hover state for images in the latest section */
    .img-container:hover img {
        transform: scale(1.1);
        opacity: .75;
    }   

    .sign-up-input {
        flex: 1 1;
        &:last-child {
            padding-left: 30px;
        }
    }

    .footer-flex {
        width: $lg-width;
    }
}


/* =======================================================
-------------- extra large breakpoint styles -------------
========================================================== */


@media screen and (min-width: 1260px) {

    .width-margin {
        @include container-xl;
    }


    #header-container {
        input {
            display: inline-block;
            width: 240px;
        }
    }

    #md-search-submit {
        border-radius: 0 3px 3px 0;
    }

    .nav-inner {
        .nav-submenu a {
            font-size: 1rem;
        }
    }
    .nav-submenu li {
        &:not(:last-child)::after {
            padding-left: 30px;
        }
        &:not(:first-child) {
            padding-left: 30px;
        }
    }
    
    .hero-slider-container,
    .hero-content-container,
    .hero-image img {
        height: 746px;
    }

    .hero-image {
        height: 100%;
    }

    .service-cards {
        > *:nth-child(n+4) {
            flex-basis: 20%;
            &:not(.telecoms-services) {
                margin-left: 30px;
            }
        }
    }

    .about {
        &-inner {
            width: 50%;
        }
    }

    .latest-card-3 {
        display: block;
        margin-left: 30px;
    }

    .footer-flex {
        * {
            flex: 25%;
        }
    }

    .accred-row-1 img,
    .accred-row-2 img {
        width: auto;
    }
}
