#nav-container, #sticky-nav-container {
    background-color: $primary-colour;
    display: none;
    @include media-lg {
        display: block;
    }
    height: 98px;
}

.nav-inner {
    @include container-lg;
    @include padding-margin;
    > ul {
        position: relative;
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        flex-direction: row;
        border-left: 1px solid hsla(0, 0%, 100%, .1);
        border-right: 1px solid rgba(0, 0, 0, .25);
    }
}


.nav-flex > li {
    flex: 1;
    text-align: center;
    border-right: 1px solid hsla(0, 0%, 100%, .1);
    border-left: 1px solid rgba(0, 0, 0, .25);
    > a {
        position: relative;
        display: block;
        color: $white;
        padding: 19px 0 18px;
        text-transform: uppercase;
        font-size: 1.125rem;
        line-height: 1;
        i {
            font-size: 1.2rem;
            display: block;
            padding-bottom: 12px;
        }
        small {
            display: block;
            font-size: .625rem;
            padding-bottom: 2px;
        }
    }
    @include media-xl {
        a {
            font-size: 1rem;
        }
    }
}

.web {
    i {
        color: $purple;
    }
    &:hover {
        background-color: $purple;
        i {
            color: $white;
        }
    }
    &:hover .web-menu {
        display: block;
    }
}

.it {
    i {
        color: $blue;
    }
    &:hover {
        background-color: $blue;
        i {
            color: $white;
        }
    }
    &:hover .it-menu {
        display: block;
    }
}

.telecoms {
    i {
        color: $red;
    }
    &:hover {
        background-color: $red;
        i {
            color: $white;
        }
    }
    &:hover .telecoms-menu {
        display: block;
    }
}

.software {
    i {
        color: $dark-blue;
    }
    &:hover {
        background-color: $dark-blue;
        i {
            color: $white;
        }
    }
    &:hover .software-menu {
        display: block;
    }
}

.digital {
    i {
        color: $green;
    }
    &:hover {
        background-color: $green;
        i {
            color: $white;
        }
    }
    &:hover .digital-menu {
        display: block;
    }
}

.security {
    i {
        color: $pink;
    }
    &:hover {
        background-color: $pink;
        i {
            color: $white;
        }
    }
    &:hover .security-menu {
        display: block;
    }
}

.nav-sub {
    padding: 0 15px;
    display: none;
    position: absolute;
    top: 100%;
    left: -15px;
    right: -15px;
    z-index: 10;
    list-style: none;
    li {
        float: left;
        font-size: .8125rem;
        text-transform: uppercase;
        line-height: 2.813rem;
        a {
            line-height: 2.813rem;
        }
        &:not(:first-child) {
            padding-left: 20px;
            @include media-xl {
                padding-left: 30px;
            }
        }
        &:not(:nth-last-child(2))::after {
            content: "-";
            padding-left: 20px;
            color: $white;
            @include media-xl {
                padding-left: 30px;
            }
        }
    }
    // &::before {
    //     content: "";
    //     display: block;
    //     position: absolute;
    //     top: 0;
    //     bottom: 0;
    //     right: 100%;
    //     width: 2000px;
    //     background-color: $purple-2;
    // }
    // &::after {
    //     content: "";
    //     display: block;
    //     position: absolute;
    //     top: 0;
    //     bottom: 0;
    //     left: 100%;
    //     width: 2000px;
    //     background-color: $purple-2;
    // }
}

.sub-bg {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 2000px;
        z-index: -1;
        &#web-sub-bg {
            background-color: $purple-2;
        }
        &#it-sub-bg {
            background-color: $blue-2;
        }
        &#telecoms-sub-bg {
            background-color: $red-2;
        }
        &#software-sub-bg {
            background-color: $dark-blue-2;
        }
        &#marketing-sub-bg {
            background-color: $green-2;
        }
        &#security-sub-bg {
            background-color: $pink-2;
        }
}