$white: #fff;
$primary-colour: #333645;
$primary-shade: #22242e;
$grey: #ddd;
$purple: #926fb1;
$purple-2: #79539a;
$dark-blue: #67809f;
$blue: #4183d7;
$green: #2ecc71;
$red: #d64541;
$pink: #f62459;
$button-grey: #999aa2;

$black-transp-grad: linear-gradient(270deg,transparent 25%,#000);