$white: #fff;
$primary-colour: #333645;
$primary-shade: #22242e;

$grey: #ddd;
$purple: #926fb1;
$purple-2: #79539a;
$dark-blue: #67809f;
$dark-blue-2: #526781;
$blue: #4183d7;
$blue-2: #286abd;
$green: #2ecc71;
$green-2: #25a25a;
$red: #d64541;
$red-2: #bc2c28;
$pink: #f62459;
$pink-2: #de093f;
$button-grey: #999aa2;

$xs-width: 575px;
$sm-width: 576px;
$md-width: 768px;
$lg-width: 992px;
$xl-width: 1260px;
$xxl-width: 1400px;

$case-studies: #f62459;
$case-studies-hover: #e80a42;
$portfolio: #926fb1;
$portfolio-hover: #7e57a0;
$guides: #2ecc71;
$guides-hover: #26ab5f;
$news: #4183d7;
$news-hover: #2a6ec6;
$insights: #d64541;
$insights-hover: #c42e2a;
$careers: #926fb1;
$careers-hover: #7e57a0;
$environmental: #926fb1;
$environmental-hover:#7e57a0;